.fundo-pagina {
    background-color: black;
  }
.cabecalho {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    column-gap: 2%;
    align-items: right;
    background-color: #333;
    color: #fff;
    padding: 20px 20px;
    width: 100%;
    height: 3%;
    position: absolute;
    margin-top: -0.51%;
    margin-left: -3%;
  }
a:link, a:visited {
    color: white;
    text-decoration:double;
   cursor: auto;
  }
    
  a:link:active, a:visited:active {
    color: white;
  }
.imagem {
  position: absolute;
  width: 20%;
  height: 40%;
  margin-top: +17%;
  margin-left: +8%;
  background-color: darkblue;
  border: 1%;
  border-radius: 5%;
  padding: 0.5%;
  display: flex;
  justify-content: center; /* Centraliza horizontalmente */
  align-items: center;
}
.contatos {
  text-align: center;
  position: absolute;
  width: 55%;
  margin-left: +30%;
  margin-top: +20%;
  display: flex;
  flex-direction: column;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: whitesmoke;
  background-color: darkblue;
  border: 5px;
  border-radius: 10px;
  padding: 1%;
}
.titulo {
  text-align: center;
  position: absolute;
  margin-left: +56%;
  margin-top: +16%;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: whitesmoke;
  background-color: darkblue;
  border: 3px;
  border-radius: 10px;
  padding: 0.5%;
  height:5%;
  display: flex;
  justify-content: center; /* Centraliza horizontalmente */
  align-items: center;
}